* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --p-5: 5px;
    --p-10: 10px;
    --p-15: 15px;
    --p-20: 20px;
    --p-25: 25px;
    --p-30: 30px;
    --c-p :#CE1F6E;
    --c-yellow :#ffc108;
    --c-green :#00d15b;
    --c-blue :#0d6dfc;
    --c-dark :#000000;
    --c-dark2 :#0e1014;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    user-select: none;
}

.admin {
    background-color: var(--c-dark);
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
  
}



.leftPannel {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: var(--c-dark2);
    border-right:  1px solid var(--c-p);
    padding-left: 10px;
    
}

.rightPannel {
    background-color: var(--c-dark);
    flex: 1;
}

.topPannel{
    border-bottom:  1px solid var(--c-p);
    padding-bottom: var(--p-5);
}
.topNav{
    background-color: var(--c-dark2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--p-15);
}
.wrap_m {
    display: flex;
    align-items: center;
    gap: 5px;
}
.user_verfity{
    display: flex;
    align-items: center;
    padding-right: var(--p-10);
    gap: 5px;
}
.topNav img{
    width: 40px;
    height: 40px;
}

.user_profile{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.option_open_msg{
    padding: var(--p-5);
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight:400;
    color: var(--c-green);
}
.user_name h2{
    font-size: 18px;
    text-transform: capitalize;    font-weight: bold;
    color: rgba(255, 255, 255, 0.804);
}

/* left */
.admin_logo {
   margin-top: var(--p-10);
    padding: var(--p-10);
}
.admin_logo h2{
    text-transform: uppercase;
    color: var(--c-p);
    font-weight: bolder;
}

.options {
    /* background: rgb(7, 7, 7); */
    padding: var(--p-5);
    margin-top: 20px;
    height: 100%;
}

.logout_bar {
    /* background-color: rgb(0, 0, 0); */
    padding: var(--p-15);
    display: flex;
    margin-top: 100px;
    justify-content: center;

}
.logout_bar a{
    color: white;
    border: 1px solid var(--c-p);
    padding: 10px 40px 15px;
    border-radius: 7px;
}
.op_list{
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}
.op_list img{
    width: 23px;
    height: 23px;
}
.use_op_list{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
.use_op_list:hover{
    background-color: rgba(31, 34, 48, 0.574);
    color: white;
    padding:10px 20px 12px ;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
